<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            </div><div class="inputcontainer">
               
         
               <form method="post">
            {%csrf_token%}
            {% for fields in form %}<br><br>
            {{fields.label}}:<br>
            {{fields}}
            {%endfor%}<br><br> 
    <button type="submit">submit</button>
         </form>
         <br><br>
         </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>